.inp{
    width: 550px;
}

.sfbtn{
    width: 70px;
    margin: 0;
    left:90px;
    top:10px;
    
}

.filebtn{
    left:50px;
    top:10px;
}

.input-box:hover{
    box-shadow: 0px 0px 14px 0.3px #FBC410;
}

.input-box:focus{       
outline: none;
box-shadow: 0px 0px 12px 0.8px #FBC410;
}

.textinput{
    display: inline;
}